# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# WiFi
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# Deep sleep
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y

# NVS encryption off (home LAN use case)
CONFIG_NVS_ENCRYPTION=n

# HTTPD / provisioning
CONFIG_WIFI_PROV_MGMT_ENABLE=y

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
